*{
    margin: 0;
    padding: 0;
}
.img1:hover{
    height: 130px;
    width: 130px;
}
.song{
    display: flex;

}
.name{
    color: seashell;
    margin-top: -25px;
}
.fa-lock{
    position: absolute;
    margin-top: 95px;
    margin-left: 125px;
}
.fa-user{
    position: absolute;
    margin-top: 30px;
    margin-left: 125px;
}
.img5:hover{
    height: 250px;
    width: 250px;
}
.img6:hover{
    height: 250px;
    width: 250px;
}